{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Breadcrumb Section Begin -->
<div class="">
    <section class="breadcrumb-section pb-5 ">
        <div class="container-fluid  w-100  p-4 mt-0  "
            style="background-image: url( '{% static 'img/breadcrumb.jpg' %}')  ;">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Profile</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Profile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Breadcrumb Section End -->

<!-- Profile section starts here -->




<section class="section-conten padding-y bg">

{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
	{% include 'includes/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			Hello
			<strong><span class="text-black">{{user.first_name|capfirst}} {{user.last_name}} ! </span></strong>
		</header>
		<div class="card-body">
			<div class="row">

			<div class="col-md-6">
				<div class="card" style="text-align:center;">
					<div class="card-body">
						<h5 class="card-title">Total Orders : <strong> {{order_count}}</strong></h5> 
							
						
						
						<a href="{% url 'my_orders' %}" class="btn btn-outline-success btn-sm">View Orders</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card" style="text-align:center;">
					<div class="card-body">
						
						<p class="mb-0">{{user.email}}</p>
						<p>{{user.phone_number}}</p>
					</div>
				</div>
			</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- <div>

    {% for error in error%}
    {{error}}
    {% endfor %}

    {% for error in error2%}
    {{error}}
    {% endfor %}
</div> -->
</section>
{% endblock content %}