{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section pb-5 ">
    <div class="container-fluid  w-100  p-4 mt-0  "
        style="background-image: url( '{% static 'img/breadcrumb.jpg' %}')  ;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Forgot Password</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Forgot Password</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<section></section>
<div class="card mx-auto mt-3 mb-5" style="max-width: 380px; background-image: url( '{% static 'img/tomatoes.jpg' %}')  ;">
    <div class="card-body" style="background-color: rgb(255, 255, 255);">
        <h2 class="card-title mb-4 text-center">Sign in</h2>
        <form action="{% url 'forgot_password' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Enter Your Registered Email" name="email" required>
            </div>
            <div class="form-group">
                <a href="{% url 'login' %}" class="float-right mb-3">Login with password?</a>
            </div>
            <div class="form-group">
                <button type="submit" class="btn  btn-block" style="background-color:#0A66C2; color: white;"> Send reset link
                </button>
            </div>
        </form>
    </div>
    </div>
    </section>








        {% endblock content %}