{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section pb-5 ">
    <div class="container-fluid  w-100 p-4 mt-0  "
        style="background-image: url( '{% static 'img/breadcrumb.jpg' %}')  ;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Profile</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Profile</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


<section class="section-conten padding-y bg mb-5">

{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
	{% include 'includes/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">My Orders</strong>

		</header>
		<div class="card-body">
			
			<div class="row">
            
            {% if all_orders%}
             {% for order in all_orders %}   
			<div class="col-md-4 mt-2">
                <div class="card ">
                <div class="card-header ">
                    <h5 class="card-title" > <strong> Order No: </strong>  {{order.order_number}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> {{order.updated_at}}</h6>
                </div>
                    <div class="card-body">

                        <p class="card-text"> <strong>Total Amount: </strong>  ₹{{order.order_total}} <br> <strong> Address: </strong> {{order.full_address|capfirst}}
                            <br> <strong> Status : </strong> {{order.status}}
                        </p>
                        <a href="{% url 'order_details' order.order_number %}" class="btn btn-info">View Details</a>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="d-flex flex-column">
                <div>
             <h4 class="text-center text-info " style="margin-left:16rem ;">You haven't ordered anything...</h4>
            </div>
            <div class=" " style="margin-left: 20rem; margin-top: 0.5rem;">
            <a href="{% url 'shop' %}" class="btn btn-outline-success btn-sm">Continue Shopping</a>
        </div>
            </div>
            
            {% endif %}


			</div> <!-- row.// -->
            <div class="product__pagination ">
                {% if all_orders.has_previous %}
                  <a href="?page={{ all_orders.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a>
                {% endif %}
                  <a href="?page={{ all_orders.number }}">{{ all_orders.number }}</a>
                {% if all_orders.has_next %}
                  <a href="?page={{ all_orders.next_page_number }}">{{ all_orders.next_page_number }}</a>
                {%endif%}
      
                {% if all_orders.has_next %}
                  <a href="?page={{ all_orders.next_page_number }}"><i class="fa fa-angle-double-right"></i></a>
                {%endif%}
              </div>
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}