{% extends 'base.html' %}

{% block content %}
{% load static %}
        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-section set-bg"   >
            <div class="container set-bg w-100 set-bg p-4 mt-0  " style="background-image: url( '{% static 'img/breadcrumb.jpg' %}')  ;">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb__text">
                            <h2>Login</h2>
                            <div class="breadcrumb__option">
                                <a href="./index.html">Home</a>
                                <span>Login</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->
  <!-- ========================= SECTION CONTENT ========================= -->
  <section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
      <div class="card mx-auto mt-5" style="max-width: 380px;">
          <div class="card-body">
          <h2 class="card-title mb-4 text-center">Sign in with OTP</h2>
          

  
          <form action="{% url 'otpLogin' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
           <input type="text" class="form-control" placeholder="Enter Your Mobile Number" name="phone_number" maxlength="10" required>
              </div> <!-- form-group// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-success btn-block"> Login  </button>
              </div> <!-- form-group// -->    
          </form>
          <p class="text-center"> <a href="{% url 'login' %}">Click Here for password login</a></p>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
                    {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                                    
                        <div class="alert alert-success alert-dismissiblen ">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{message}}</strong> 
                        </div>
                    {% endfor %}
                    </ul>
                    {% endif %}
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
  

{% endblock content %}