{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section pb-5 ">
  <div class="container-fluid w-100  p-4 mt-0 "
    style="background-image: url( '{% static 'img/breadcrumb.jpg' %}')  ;">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Signup</h2>
          <div class="breadcrumb__option">
            <a href="./index.html">Home</a>
            <span>Signup</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<section class="vh-100 bg-image mb-5" style="background-image: url(''); ">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form method="POST" action="{% url 'signup' %}">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  {{form.first_name}}
                </div>
                <div class="form-outline mb-4">
                  {{form.last_name}}
                </div>
                <div class="form-outline mb-4">
                  {{form.email}}
                </div>
                <div class="form-outline mb-4">
                  {{form.phone_number}}
                </div>
                <div class="form-outline mb-4">
                  {{form.password}}
                </div>
                <div class="form-outline mb-4">
                  {{form.confirm_password}}
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"> <a href=""
                      style="color: white;">Register</a> </button>
                </div>
                <div class="mt-3">

                </div>
                <div class="error messages mx-4" style="color: red;">
                    {{form.email.errors}}
                    {{form.first_name.errors}}
                    {{form.phone_number.errors}}
                    {{form.non_field_errors}}
                </div>


                <!-- <div class="error messages" id="msg">
                  {% for field in form %}
                   
                      {% for error in field.errors %}
                        <small style="color: red">{{ error }}</small> <br>
                      {% endfor %}
                  {% endfor %} -->

                
 
                {% if messages %}
                <div id="msg" >
                <ul class="messages" >
                  {% for message in messages %}
                                  
                    <div class="alert alert-success alert-dismissiblen " >
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <strong >{{message}}</strong> 
                    </div>
                  {% endfor %}
                </ul>
              </div>
              </div>
                {% endif %} 
                <!-- {% comment %} <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div> {% endcomment %} -->
                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{% url 'login' %}"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div style="height: 12rem;">

</div>


{% endblock content %}