<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
      <a class="list-group-item " {% if '/user_dashboard/' in request.path %} style="background-color: #0A66C2; color:white;" {% endif %} href="{% url 'user_dashboard' %}"> Dashboard </a>
      <a class="list-group-item " href="{% url 'my_orders' %}" {% if '/my_orders/' in request.path %} style="background-color: #0A66C2; color:white;" {% endif %} {% if '/order_details/' in request.path %} style="background-color: #0A66C2; color:white;" {% endif %}> My Orders </a>
      <a class="list-group-item " href="{% url 'edit_profile' %}" {% if '/edit_profile/' in request.path %} style="background-color: #0A66C2; color:white;" {% endif %}> Edit Profile </a>
      <a class="list-group-item " href="{% url 'change_password' %}" {% if '/change_password/' in request.path %} style="background-color: #0A66C2; color:white;" {% endif %}> Change Password </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
    <!--   SIDEBAR .//END   -->
  </aside>


  </style>