          
            <!-- Status Modal -->
            <div class="modal fade" id="myModal{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5>Change Status</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="{% url 'admin_change_order' order.id %}" method="POST">
                        {% csrf_token %}
              
                        {% if order.status == 'Order Confirmed' %}
              
                        <div class="row mb-2">
                          <input class="ml-3" type="radio" name="status" value="Order Confirmed" disabled checked>
                          <label for="dreamweaver" class="ml-2 mt-2">Order Confirmed</label>
                        </div>
                        <div class="row mb-2">
                          <input class="ml-3" type="radio" name="status" value="Shipped">
                          <label for="dreamweaver" class="ml-2 mt-2 text-info">Shipped</label>
                        </div>
                        <div class="row mb-2">
                          <input class="ml-3" type="radio" name="status" value="Out for delivery" disabled>
                          <label for="dreamweaver" class="ml-2 mt-2 text-warning">Out for delivery</label>
                        </div>
                        <div class="row mb-2">
                          <input class="ml-3" type="radio" name="status" value="Delivered" disabled>
                          <label for="dreamweaver" class="ml-2 mt-2 text-success">Delivered</label>
                        </div>
              
                        {% elif order.status == 'Shipped' %}
              
                        <div class="row mb-2">
                          <input class="ml-3" type="radio" name="status" value="Order Confirmed" disabled>
                          <label for="dreamweaver" class="ml-2 mt-2">Order Confirmed</label>
                        </div>
                        <div class="row mb-2">
                          <input class="ml-3" type="radio" name="status" value="Shipped" disabled checked>
                          <label for="dreamweaver" class="ml-2 mt-2 text-info">Shipped</label>
                        </div>
                        <div class="row mb-2">
                          <input class="ml-3" type="radio" name="status" value="Out for delivery">
                          <label for="dreamweaver" class="ml-2 mt-2 text-warning">Out for delivery</label>
                        </div>
                        <div class="row mb-2">
                          <input class="ml-3" type="radio" name="status" value="Delivered" disabled>
                          <label for="dreamweaver" class="ml-2 mt-2 text-success">Delivered</label>
                        </div>
              
                        {% else %}
              
                        <div class="row mb-2">
                          <input class="ml-3" type="radio" name="status" value="Order Confirmed" disabled>
                          <label for="dreamweaver" class="ml-2 mt-2">Order Confirmed</label>
                        </div>
                        <div class="row mb-2">
                          <input class="ml-3" type="radio" name="status" value="Shipped" disabled>
                          <label for="dreamweaver" class="ml-2 mt-2 text-info">Shipped</label>
                        </div>
                        <div class="row mb-2">
                          <input class="ml-3" type="radio" name="status" value="Out for delivery"  disabled checked>
                          <label for="dreamweaver" class="ml-2 mt-2 text-warning">Out for delivery</label>
                        </div>
                        <div class="row mb-2">
                          <input class="ml-3" type="radio" name="status" value="Delivered">
                          <label for="dreamweaver" class="ml-2 mt-2 text-success">Delivered</label>
                        </div>
              
                        {% endif %}
              
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                      </form>
                  </div>
                </div>
              </div>
              
                        <!--Cancel Modal -->
                        <div class="modal fade" id="cancel{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cancel Order</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body text-left">
                                Are you sure to cancel the order <b>#{{order.order_number}}</b>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <a type="button" href="{% url 'cancel_order' order.order_number %}" class="btn btn-primary">Yes</a>
                              </div>
                            </div>
                          </div>
                        </div>
              