{% extends 'admin_panel/admin_base.html' %}
{% load static %}

{% block content %}
  <div class="row">
    {% for message in messages_recieved %}
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{message.user_name}}</h4>
            <h5 class="card-description">{{message.time_ago}}</h5>
            <p class="card-description"> {{message.email}} </p>
            <textarea class="form-control" id="exampleTextarea1" rows="8" style="color: #aab2bd;" >{{message.message}} </textarea>
            <div class="mt-3">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-email="{{message.email}}">Reply</button>
            <a class="btn btn-inverse-danger" href="{% url 'delete_message' message.id %}">Delete</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Modal -->

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Reply to {{message.user_name|capfirst}}</h5>
              <button type="button" class="close " data-dismiss="modal" aria-label="Close" style="color: red;">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{% url 'reply_message' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Recipient:</label>
                  <input type="text" class="form-control" id="recipient-name" value="{{message.email}}" name="email">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label" >Message:</label>
                  <textarea class="form-control" id="message-text" required name="message" rows="10"></textarea>
                </div>
                </div>
                <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Send message</button>
            </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  <script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('email') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
  </script>
{% endblock content %}
    