{%  extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="mx-3">
        <h3 class="mb-4">Statisticts of {% if selected_month in request.path %}{{selected_month}} {% else %} All time {% endif %}</h3>
    </div>
        <div class="dropdown mx-5">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if selected_month in request.path %} {{selected_month}} {% else %} Select month {% endif %}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
            {% for month in month_list %}
            <a class="dropdown-item" href="{% url 'admin_dashboard_monthwise' month %}">{{month}}</a>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'admin_dashboard' %}">All time</a>
            </div>
        </div>
</div>
<div class="row">
<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h3 class="mb-0">{{total_orders}}</h3>
              <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
            </div>
          </div>
          <div class="col-3">
            <div class="icon icon-box-success ">
              <span class="mdi mdi-arrow-top-right icon-item"></span>
            </div>
          </div>
        </div>
        <h5 class="text-muted font-weight-bold">Total Orders</h5>
        <h6 class=""></h6>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h3 class="mb-0">{{total_products}}</h3>
              <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
            </div>
          </div>
          <div class="col-3">
            <div class="icon icon-box-success ">
              <span class="mdi mdi-arrow-top-right icon-item"></span>
            </div>
          </div>
        </div>
        <h5 class="text-muted font-weight-bold">Total Products</h5>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h3 class="mb-0">{{total_customers}}</h3>
              <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
            </div>
          </div>
          <div class="col-3">
            <div class="icon icon-box-success ">
              <span class="mdi mdi-arrow-top-right icon-item"></span>
            </div>
          </div>
        </div>
        <h6 class="text-muted font-weight-bold">Total Customers</h6>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h3 class="mb-0">₹{{total_sales}}</h3>
              <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
            </div>
          </div>
          <div class="col-3">
            <div class="icon icon-box-success ">
              <span class="mdi mdi-arrow-top-right icon-item"></span>
            </div>
          </div>
        </div>
        <h5 class="text-muted font-weight-bold">Total Sales</h5>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Orders</h4>
          <canvas id="lineChart" style="height:250px"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Sales</h4>
          <canvas id="salesChart" style="height:230px"></canvas>
        </div>
      </div>
    </div>
  </div>
 

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/moment.min.js' %}"></script>
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <script>

    var data = {
        labels: {{line_labels|safe}},
        datasets: [{
          label: 'Total sales of ₹',
          data: {{bar_data|safe}},
          backgroundColor: [
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(54, 162, 235, 1)',
            'rgba(255,99,132,1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 2,
          fill: true
        }]
        };
      
        var options = {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
            }
          }]
        },
        legend: {
          display: false
        },
        elements: {
          point: {
            radius: 1
          }
        }
    
        };
      
      
    
    
        // Get context with jQuery - using jQuery's .get() method.
        if ($("#salesChart").length) {
        var barChartCanvas = $("#salesChart").get(0).getContext("2d");
        // This will get the first returned node in the jQuery collection.
        var barChart = new Chart(barChartCanvas, {
          type: 'bar',
          data: data,
          options: options
        });
        }
    
  </script>



 <script>
    var data = {
    labels: {{line_labels|safe}},
    datasets: [{
      label: '#{% if selected_month in request.path %} Daily orders {% else %} Alltime orders {% endif %}',
      data: {{line_data|safe}},
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 2,
      fill: false
    }]
  };

  var options = {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        },

      }]
    },
    legend: {
      display: false
    },
    elements: {
      point: {
        radius: 1
      }
    }

  };

  if ($("#lineChart").length) {
    var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
    var lineChart = new Chart(lineChartCanvas, {
      type: 'line',
      data: data,
      options: options
    });
  }
 </script>
 {% endblock %} 