{% extends 'base.html' %}

{% load static %}

{% block content %}    
    
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <div class="breadcrumb__text">
                      <h2>Basket</h2>
                      <div class="breadcrumb__option">
                          <a href="{% url 'home' %}">Home</a>
                          <span>Basket</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Breadcrumb Section End -->


  {% endblock content %}