{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
<div class="">
    <section class="breadcrumb-section pb-5 ">
        <div class="container-fluid  w-100  p-4 mt-0  "
            style="background-image: url( '{% static 'img/breadcrumb.jpg' %}')  ;">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Checkout</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'home' %}">Home</a>
                            <a href="{% url 'cart' %}">Cart</a>
                            <span>Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Breadcrumb Section End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Billing Details</h4>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="card mb-3">

                            {% if address %}

                            <h5 class="card-header">DELIVERY ADDRESS</h5>    

                            {% for item in address %}

                            <div class="card-body form-check row">
                                    <div class="col-12">
            
                                        {% if forloop.counter == 1 %}
                                        <input class="form-check-input d-block ml-1 mt-2" value="{{item.id}}" type="radio" name="flexRadioDefault" checked>
                                        {%else%}
                                        <input class="form-check-input d-block ml-1 mt-2" value="{{item.id}}" type="radio" name="flexRadioDefault">
                                        {%endif%}
                                        
                                        <div class="d-block ml-4">
                                            <p class="card-text mb-0"><b>{{user.first_name}}</b> , {{item.address_line_1}}, {{item.address_line_2}}, {{item.city}}, {{item.district}}, {{item.state}}, {{item.pincode}}</p>
                                            <p class="cart-text mb-0">{{user.email}}</p>
                                            <p class="cart-text mb-0">{{user.phone_number}}</p>
                                        </div>
                                    </div>              
                                </div>                           
                                <hr>
                            {%endfor%}
                            <div class="card-body form-check row">
                                <div class="col-12  py-2">
                                    <div class="row d-flex align-content-center">
                                        <div class="col-12 d-block ml-2 d-flex">
                                            <p class="card-text mt-1 h5"><b class="text-center">Add New Address</b></p>
                                            <a href="{%url 'add_address' %}" class="col-3 btn ml-auto mr-5 text-white"  style="background-color: #0A66C2;">Add</a>
                                        </div>
                                    </div>
                                    
                                </div>              
                            </div>
                            {%else%}
                            <div class="card-body form-check row d-flex align-items-center" style="height: 328px;">
                                <div class="col-12  py-5">
                                    <div class="row d-flex align-content-center">
                                        <div class="col-12 d-block ml-2">
                                            <p class="card-text mb-0 h2 text-center"><b>No addresses found in your account!</b></p>
                                        </div>
                                        <a href="" class="col-3 btn text-white mx-auto mt-3"  style="background-color: #7fad39;">Add Address</a>
                                    </div>
                                    
                                </div>              
                            </div>
                            {%endif%}                          

                        </div>

                                <form action="#">
                                </form>


                        
                        <div class="shoping__continue">
                            <div class="shoping__discount">
                                <h5>Discount Codes</h5>
                                <form id="coupon_form">
                                    <input type="text" id="coupon_data" placeholder="Enter your coupon code">
                                    <button type="submit" class="site-btn">APPLY COUPON</button>
                                </form>
                            </div>
                            <p class="text-danger mt-3" id="output"></p>
                        </div>

                        {% if coupons %}
                        <div class="accordion mt-3 shoping__discount" id="accordionExample">
                            <h5>Available Coupons:</h5>
                            
                            {% for item in coupons %}

                            <div class="card w-75">
                              <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                  <button class="btn btn-link btn-block text-left collapsed text-danger text-decoration-none" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="text-dark">{{forloop.counter}}.</span> <b>-{{item.coupon.discount}}% Off</b>
                                  </button>
                                </h2>
                              </div>
                              <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p><b>*</b>Applicable only  for order price more than <b>₹{{item.coupon.min_value}}\-</b></p>
                                    <span class="ml-3">Coupon Code: <b class="text-danger">{{item.coupon.code}}</b></span>
                                </div>
                              </div>
                            </div>

                            {% endfor %}

                        </div>
                        {%endif%}

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Your Order</h4>
                            <div class="checkout__order__products">Products <span>Price</span></div>
                            <ul>
                                {% for cart_item in cart_items %}

                                <li>{{cart_item.product.product_name}} <br>

                                    {% for item in cart_item.variations.all %}

                                    {{item.variation_category | capfirst}} : {{item.variation_value | capfirst}}

                                    {% endfor %}
                                    
                                     - X <p class="d-inline font-weight-bold">{{cart_item.quantity}}</p class="d-inline f-3"><span>₹{{cart_item.sub_total}}</span></li>

                                     <hr>

                                {% endfor %}
                            </ul>
                            <div class="checkout__order__total">Subtotal <span>₹{{total}}</span></div>
                            <div class="checkout__order__total">Tax <span>₹{{tax}}</span></div>
                            <div class="checkout__order__total" id="coupon_block" style="display: none;">Discount <span>- ₹<b id="coupon_discount"></b></span>
                            <h1 class="text-danger" style="font-size: 12px;">*Coupon Applied - <b id="coupon_code"></b></h1>
                            </div>
                            <div class="checkout__order__total">Total <span id='grand_total'>₹{{grand_total}}</span></div>
                            <input type="text" name="coupon" id="coupon_code1" style="display: none;">
                            <button type="submit" class="site-btn">PROCEED TO PAYMENT</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->


    
{% endblock content %}
    