{% extends 'base.html' %}
{% load static %}

{% block title %}
    Shop
{% endblock title %}
    
{% block content %}

<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section "   >
        <div class="container-fluid  w-100  p-4 mt-0  " style="background-image: url( '{% static 'img/breadcrumb.jpg' %}')  ;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'home' %}">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Breadcrumb Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item ">
                        <h4>Categories</h4>
                        <ul class="overflow-auto"  style="max-height: 29rem;">
                          <li><a class="text-dark f-5" href="{% url 'shop' %}">
                              All Products
                          </a></li>
                          {% for category in cat_links %}
                         <div> <li><a class="text-dark f-5" href="{{category.get_url}}" role="button"  aria-controls="">
                              {{category.category_name|capfirst}}
                          </a></li></div>
                        <div class="collapse" id="{{category.slug}}">
                          <div class="ml-3">
                          </div>
                        </div>
                        {% endfor %}
                        </ul>
                    </div>
                       
                    <div class="sidebar__item">
                        <h4>Price</h4>
                        <div class="price-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="10" data-max="500">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            <div class="range-slider">
                            <form action="{% url 'shop_filter' %}" method="POST">
                                {% csrf_token %}
                                <div class="price-input">
                                    <input type="text" id="minamount" name="minamount">
                                    <input type="text" id="maxamount" name="maxamount">
                                    <button class="btn btn-danger" type="submit" style="padding: 8px; border-radius: 30px;"> Filter</button>
                                </div>
                               
                            </form>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__item">
                          <div class="latest-product__text">
                            <h4>Latest Products</h4>
                            <div class="latest-product__slider owl-carousel">
                              <div class="latest-prdouct__slider__item">
                                  
                                {% for product in latest_products_1 %}
                                    
                                <a href="{{product.get_url}}" class="latest-product__item">
                                    <div class="latest-product__item__pic" >
                                        <img src="{{product.image_1.url}}" alt="" style="max-width:100px;">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{product.product_name}}</h6>
                                        {% if product.offer_price != product.price %}
                                        <span><del class="text-secondary">₹{{product.price}}</del><br> ₹{{product.offer_price}}/ {{product.unit}}</span>
                                        {% else %}
                                        <span>₹{{product.price}}/ {{product.unit}}</span>
                                        {% endif %}
                                    </div>
                                </a>
  
                                {% endfor %}
                                 
                              </div>
                              <div class="latest-prdouct__slider__item">
  
                                {% for product in latest_products_2 %}
                                    
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic" >
                                        <img src="{{product.image_1.url}}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{product.product_name}}</h6>
                                        {% if product.offer_price != product.price %}
                                        <span><del class="text-secondary">₹{{product.price}}</del> <br> ₹{{product.offer_price}}/ {{product.unit}}</span>
                                        {% else %}
                                        <span>₹{{product.price}}/ {{product.unit}}</span>
                                        {% endif %}
                                    </div>
                                </a>
  
                                {% endfor %}
                              </div>
                              
                              
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-9 col-md-7">
                {% if not 'search' in request.path %}
                  <div class="product__discount">
                      <div class="section-title product__discount__title">
                          <h2>Sale Off</h2>
                      </div>
                      <div class="row">
                          <div class="product__discount__slider owl-carousel">
  
                          {% for product in off_products %}
                              <div class="col-lg-4">
                                  <div class="product__discount__item">
                                      <div class="product__discount__item__pic set-bg"
                                          data-setbg="{{product.image_1.url}}" >
                                          <div class="product__discount__percent">-{{product.product_offer}}%</div>
                                          <ul class="product__item__pic__hover">
                                            <li ><a href="{% url 'add_wishlist' product.id %}" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist"><i class="fa fa-heart "   ></i></a></li>
                                            <li><a href="{{product.get_url}}" data-toggle="tooltip" data-placement="bottom" title="View deatils"><i class="fa fa-paper-plane"></i></a></li> 
                                            <li><a href="{% url 'add_cart' product.id %}" data-toggle="tooltip" data-placement="bottom" title="Add to cart"><i class="fa fa-cart-arrow-down"></i></a></li>
                                          </ul>
                                      </div>
                                      <div class="product__discount__item__text">
                                          <span>{{product.category.category_name}}</span>
                                          <h5><a href="{{product.get_url}}">{{product.product_name}}</a></h5>
                                          <div class="product__item__price">₹{{product.offer_price}} <span>₹{{product.price}}</span></div>
                                      </div>
                                  </div>
                              </div>
  
                          {% endfor %}
  
                          </div>
                      </div>
                  </div>
                {% endif %}
  
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            {% comment %} <div class="filter__sort">
                                <span>Sort By</span>
                                <select>
                                    <a href="{% url 'shop_sort' 0 %}"><option value="0">Price</option></a>
                                    <a href="{% url 'shop_sort' 1 %}"><option value="1">Name</option></a>
                                </select>
                            </div> {% endcomment %}
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>{{product_count}}</span> Products found</h6>
                            </div>
                        </div>
                        {% comment %} <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
                <div class="row">
  
                  {% for product in products  %}
  
                  <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{product.image_1.url}}" style="border-radius: 173px;">
                            <ul class="product__item__pic__hover">
                                <li ><a href="{% url 'add_wishlist' product.id %}" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist"><i class="fa fa-heart "   ></i></a></li>
                                <li><a href="{{product.get_url}}" data-toggle="tooltip" data-placement="bottom" title="View deatils"><i class="fa fa-paper-plane"></i></a></li> 
                                <li><a href="{% url 'add_cart' product.id %}" data-toggle="tooltip" data-placement="bottom" title="Add to cart"><i class="fa fa-cart-arrow-down"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="{{product.get_url}}">{{product.product_name}}</a></h6>
                            {% if product.offer_price != product.price %}
                            <h5><del class="text-secondary">₹{{product.price}}</del> ₹{{product.offer_price}}/<span class='text-secondary'> {{product.unit}}</span></h5>
                            {% else %}
                            <h5>₹{{product.price}}/<span class='text-secondary'> {{product.unit}}</span></h5>
                            {% endif %}
                        </div>
                    </div>
                  </div>
                  
                  {% endfor %}
  
                </div>
                
                <div class="product__pagination">
                  {% if products.has_previous %}
                    <a href="?page={{ products.previous_page_number }}"><i class="	fa fa-angle-double-left"></i></a>
                  {% endif %}
                    <a href="?page={{ products.number }}">{{ products.number }}</a>
                  {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">{{ products.next_page_number }}</a>
                  {%endif%}
  
                  {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}"><i class="	fa fa-angle-double-right"></i></a>
                  {%endif%}
                </div>
  
            </div>
        </div>
    </div>
  </section>
  <!-- Product Section End -->
<!-- <script>
    localStorage.setItem('my-scroll-pos', $(window).scrollTop());
    var pos = localStorage.getItem('my-scroll-pos', 0);
    if (pos)
        $(window).scrollTop(pos)
</script> -->


{% endblock content %}
    