{% extends 'base.html' %}

{% load static %}

{% block content %}    
    <!-- Breadcrumb Section Begin -->
<div class="">
    <section class="breadcrumb-section pb-5 ">
        <div class="container-fluid  w-100  p-4 mt-0  "
            style="background-image: url( '{% static 'img/breadcrumb.jpg' %}')  ;">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>WishList</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'home' %}">Home</a>
                            <span>Wishlist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Breadcrumb Section End -->


{% if not items %}

<div class="mt-5">
  <h2 class="text-center">Your Wishlist is empty!</h2>
  <div class="text-center m-5">
    <a href="{% url 'shop' %}" class="btn btn-success" style="background-color: #0A66C2;">Continue Shopping</a>
  </div>
</div>
hiii
{% else %}

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th >Offer Price</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Add to Cart</th>
                                <th >Remove</th>
                            </tr>
                        </thead>
                        <tbody>

                          {% for item in items %}

                          <tr>
                            <td class="shoping__cart__item ">
                                <img src="{{item.product.image_1.url}}" alt="" style="height: 6rem;width: 6rem;">
                                <a href="{{item.product.get_url}}"><h5>{{item.product.product_name}} <br> <small>1 {{item.product.unit}}</small>
                                </h5></a>
                                
                            </td>
                            <td class="shoping__cart__price mx-4">
                                ₹{{item.product.price}}
                            </td>
                            <td class="shoping__cart__price " >
                                ₹{{item.product.offer_price|floatformat:"0"}}
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="shoping__cart__price">
                                <a href="{% url 'add_cart' item.product.id  %}" type="button" class="btn btn-primary"> Add to Cart</a>
                            </td>
                            <td>
                                <a data-toggle="modal" data-target="#Modal{{forloop.counter}}" class="fa fa-minus-circle" style="color: red;"></a>
                            </td>
                        </tr>

                                  <!-- Modal -->
                                  <div class="modal fade" id="Modal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                          </div>
                                          <div class="modal-body text-left">
                                              Are you sure to remove <b>{{item.product.product_name}}</b> from wishlist?
                                          </div>
                                          <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <a href="{% url 'remove_wishlist_item' item.product.id item.id %}" type="button" class="btn btn-danger">Yes</a>
                                          </div>
                                      </div>
                                      </div>
                                  </div>
                              </td>
                          </tr>

                          {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="{% url 'shop' %}" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                </div>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div>
</section>
{% endif %}



{% endblock content %}