{% extends 'admin_panel/admin_base.html' %}
{% load static %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper" >
      <div class="">
        <div class="page-header ">
          <h2 class="page-title " style="margin-left: 1rem;">Add Subcategory for {{category|capfirst}}</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page"></li>
            </ol>
          </nav>
        </div>
        {% include 'includes/alerts.html' %}
        <div class="container" >

            <form action="{% url 'admin_add_subcategory' category.slug %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
          
              <div class="col form-group">
                  <label >Sub Category Name </label><br>
                  {{form.sub_category_name}}
              </div>
              <div class="col form-group">
                  <label > Slug</label><br>
                  {{form.slug}}  
              </div>
              <div class="col form-group">
                  <label > Description</label><br>
                  {{form.description}}  
              </div>
              <div class="col form-group">
                  <label > Category</label><br>
                  <select class="form-control" name="category" id="id_category">
                    <option value="{{category.id}}" selected>{{category.category_name}}</option>
                  </select> 
              </div>
              <div class="col form-group">
                <label > Is_featured
                <span class="mx-4"> {{form.is_featured}}</span>
                </label>
              </div>
              <div class="col form-group">
                 <a href=""> <input type="submit" name="submit" id="submit" class="btn btn-info" value="Save"/></a>
              </div>
            </form>
          </div>
          
</div>



{% endblock content %}