{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section "   >
    <div class="container-fluid  w-100  p-4 mt-0  " style="background-image: url( '{% static 'img/breadcrumb.jpg' %}')  ;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Payments</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'home' %}">Home</a>
                        <span>Online Payment</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<div class="container" style="margin-top: 50px;">
  <center><i class="fa fa-check-circle" style="font-size: 72px;margin-bottom: 20px;color: #28A745;"></i></center>
  <h2 class="text-center">Payment Successful</h2>
<br>
<div class="text-center">
    <a href="{% url 'shop' %}" class="btn btn-success">Shop more</a>
    <input type="button" class="btn btn-danger ml-5" id="btnExport" value="Download Invoice" />
</div>
</div>



<div class="container" style="margin: 0 auto;width: 50%;padding: 50px;background: #f1f1f1;margin-top: 50px;margin-bottom: 50px;" id="invoice">   
  <div class="row invoice row-printable">
      <div class="col-md-12">
          <!-- col-lg-12 start here -->
          <div class="panel panel-default plain" id="dash_0">
              <!-- Start .panel -->
              <div class="panel-body p30">
                  <div class="row">
                      <!-- Start .row -->
                      <div class="col-lg-6">
                          <!-- col-lg-6 start here -->
                          <div class="invoice-details mt25">
                              <div class="well">
                                  <ul class="list-unstyled mb0">
                                      <li><strong>Order</strong> #{{order_number}}</li>
                                      <li><strong>Order Date:</strong> {{order.created_at}}</li>
                                      <li><strong>Payment Method:</strong> {{payment.payment_method}}</li>
                                      <li><strong>Status:</strong> {{payment.status}}</li>
                                      
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- col-lg-6 end here -->
                      <div class="col-lg-6">
                          <!-- col-lg-6 start here -->
                          <div class="invoice-from">
                              <ul class="list-unstyled text-right">
                                  <li><strong>Invoiced To</strong></li>
                                  <li>{{order.full_name}}</li>
                                  <li>{{order.full_address}}</li>
                                  <li>{{order.city}}, {{order.state}}</li>
                                  <li>{{order.district}}</li>
                              </ul>
                          </div>
                      </div>
                      <!-- col-lg-6 end here -->
                      <div class="col-lg-12 mt-5 mb-5">
                          <!-- col-lg-12 start here -->
                          <div class="invoice-items">
                              <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                  <table class="table" style="border:1px solid black">
                                      <thead class="thead-dark">
                                          <tr>
                                              <th class="per70 text-center">Products</th>
                                              <th class="per5 text-center">Qty</th>
                                              <th class="per5 text-center">Price</th>
                                              <th class="per25 text-center">Total</th>
                                          </tr>
                                      </thead>
                                      <tbody >
                                          {% for item in ordered_products %}
                                          <tr >
                                              <td style="border:1px solid black" >{{item.product.product_name}}
                                                <p class="text-muted small">
                                                    {% if item.variations.all %}
                                                      {% for i in item.variations.all %}
                                                        {{i.variation_category | capfirst}} : {{i.variation_value | capfirst}} <br>
                                                      {% endfor %}

                                                    {% endif %}
                                                  </p>
                                              </td>
                                              <td class="text-center"  style="border:1px solid black"><span id="qnty{{forloop.counter}}">{{item.quantity}}</span> {{item.product.unit}}</td>
                                              <td class="text-center" id="price{{forloop.counter}}" style="border:1px solid black">{{item.product.offer_price}} </td>
                                              <td class="text-center" id="total{{forloop.counter}}" style="border:1px solid black"></td>
                                          </tr>
                                          {% endfor %}
                                      </tbody>
                                      <tfoot>
                                          <tr>
                                              <th colspan="3" class="text-right">Sub Total:</th>
                                              <th class="text-center">₹{{subtotal}} </th>
                                          </tr>
                                          <tr>
                                              <th colspan="3" class="text-right">Tax :</th>
                                              <th class="text-center">₹{{order.tax}} </th>
                                          </tr>

                                          {% if order.order_discount %}

                                          <tr>
                                            <th colspan="3" class="text-right">Discount :</th>
                                            <th class="text-center">- ₹{{order.order_discount}} </th>
                                          </tr>

                                          {% endif %}

                                          <tr>
                                              <th colspan="3" class="text-right">Grand Total:</th>
                                              <th class="text-center">₹{{order.order_total}} </th>
                                          </tr>
                                      </tfoot>
                                  </table>
                              </div>
                          </div>
                          <div class="invoice-footer mt25">
                              <p class="text-center">Thank you for shopping with us!</p>
                          </div>
                      </div>
                      <!-- col-lg-12 end here -->
                  </div>
                  <!-- End .row -->
              </div>
          </div>
          <!-- End .panel -->
      </div>
      <!-- col-lg-12 end here -->
  </div>
</div>



    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
      {% for item in ordered_products %}

      var qnty = $('#qnty{{forloop.counter}}').html()
      var price = $('#price{{forloop.counter}}').html()
      var total = qnty * price
      $('#total{{forloop.counter}}').html('₹'+total)
      var price = $('#price{{forloop.counter}}').html('₹'+price)

      {% endfor %}
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <!-- script for for pdf creation -->

    <script type="text/javascript">
        $("body").on("click", "#btnExport", function () {
            html2canvas($('#invoice')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("invoice.pdf");
                }
            });
        });
    </script>

{% endblock %}